body {
  background-image: url("../images/paisley.png");
}

.container {
  background-color: #B4D1F2;
}

.score {
  color: white;
  background-color: black;
  
}


header {
  background-color: #170830;
  color: #EC9E04;
}

#gem1 {
color: #2060A9;
}

#gem2 {
color: #EC9E04;
}

#gem3 {
color: #5116B9;
}

#gem4 {
color: #170830;
}

.modal-content {
 background-color: #B4D1F2;
}
